aiodns==4.0.4
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiohttp-fast-zlib==0.3.0
aiosignal==1.4.0
amqp==5.3.1
asgiref==3.12.1
attrs==26.1.0
billiard==4.2.4
boto3==1.39.9
botocore==1.39.9
ccxt==4.5.77
celery==5.5.3
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
click==8.5.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron-descriptor==1.4.5
cryptography==50.0.1
Django==5.2.17
django-celery-beat==2.9.0
django-redis==7.0.0
django-storages==1.14.6
django-timezone-field==7.2.2
frozenlist==1.8.0
gunicorn==23.0.0
idna==3.18
jmespath==1.0.1
kombu==5.5.4
multidict==6.7.1
orjson==3.11.9
packaging==26.3
prompt_toolkit==3.0.53
propcache==0.5.2
psycopg==3.3.5
psycopg-binary==3.3.5
pycares==5.0.1
pycparser==3.0
python-dateutil==2.9.0.post0
python-decouple==3.8
redis==6.2.0
requests==2.34.2
s3transfer==0.13.1
six==1.17.0
sqlparse==0.6.0
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
uvloop==0.22.1
vine==5.1.0
wcwidth==0.8.3
yarl==1.24.5
zlib-ng==1.0.0